<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FacadeLearning.DAL.Properties.Settings.LearningFacade_DBConnectionString"
            connectionString="Data Source=DESKTOP-R7TR8RG;Initial Catalog=LearningFacade_DB;User ID=sa;Password=asd123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>